<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nomecompleto, style: "display: block" %>
    <%= form.text_field :nomecompleto %>
  </div>

  <div>
    <%= form.label :datanascimento, style: "display: block" %>
    <%= form.date_field :datanascimento %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  <div>

  <%= form.fields_for :endereco do |endereco_form| %>
    Cidade  : <%= endereco_form.text_field :cidade %>
    Logradouro  : <%= endereco_form.text_field :logradouro %>
    Complemento  : <%= endereco_form.text_field :complemento %>
    Bairro  : <%= endereco_form.text_field :bairro %>
    Cep: <%= endereco_form.text_field :cep %>
    Delete: <%= endereco_form.check_box :_destroy %>
  <% end %>

  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
