<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nomecompleto:</strong>
    <%= paciente.nomecompleto %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= paciente.datanascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= paciente.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= paciente.email %>
  </p>

</div>
