<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consultum.medico_id %>
  </p>

</div>
