<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente.nomecompleto %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consultum.medico.nomecompleto %>
  </p>

</div>
