<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @consultum.data %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @consultum.horario.strftime("%H:%M") %>
</p>

  <strong>Medico:</strong>
  <%= @consultum.medico.nomecompleto %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @consultum.paciente.nomecompleto %>
</p>

<div>
  <%= link_to "Edit this consultum", edit_consultum_path(@consultum) %> |
  <%= link_to "Back to consulta", consulta_path %>
  <%= link_to "Página Inicial",root_path %>

  <%= button_to "Destroy this consultum", @consultum, method: :delete %>
</div>
