<div id="<%= dom_id medico %>">
  <p>
    <strong>Nomecompleto:</strong>
    <%= medico.nomecompleto %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= medico.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= medico.email %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= medico.especialidade %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= medico.crm %>
  </p>

</div>
